@import "tailwindcss";

:root {
  --main-color:#FFFFFF;
  --text-color:#020307;
  --bg-color:#F36C21;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: white;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
scroll-hidden::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.scroll-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE 10+ */
}